* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", serif;
    font-weight: 300;
}

/* - ==================== - HEADER Styles - ==================== - */

header  {
    display: flex;
    justify-content: space-between;
    max-width: 62.6%;
    width: 100%;
    padding: 46px 0;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.main_logo {
    color: #fff;
    font-family: 'Montserrat', serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

header nav a {
    display: inline-block;
    margin: 0 10px;
    color: #fff;
    text-decoration: none;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    transition: .4s ease-in-out;
}
header nav a:last-child {
    padding: 10px 18px 9px;
    border: 2px solid #fff;
    border-radius: 40px;
}
header nav a:hover {
    opacity: .6;
}

/* - ==================== - END HEADER Styles - ==================== - */
/* -------------------------------------------------------------------- */
/* - ==================== - MAIN Styles - ==================== - */

.intro-section {
    width: 100%;
    height: 100vh;
    background:  linear-gradient(0deg, rgba(0, 0, 0 ,0.2), rgba(0, 0, 0 ,0.2)), url('../img/intro-image.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.intro-section .intro-section_content {
    color: #fff;
    max-width: 510px;
    padding: 0 20px;
    text-align: center;
}
.intro-section .intro-section_content h1 {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 52px;
    line-height: 63px;
    text-transform: uppercase;
    padding-bottom: 28px;
}
.intro-section .intro-section_content h4 {
    font-weight: 300;
    font-size: 24px;
    line-height: 24px;
    color: #F7F3F2;
    padding-bottom: 33px;
}
.intro-section .intro-section_content button {
    background-color: #FF4E50;
    border-radius: 40px;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    padding: 12px 19px 11px;
    border: none;
    color: #fff;
}
/* -------------------------------------------------------------------- */
.dreamshare {
    padding-top: 89px;
}
.dreamshare-heading {
    text-align: center;
    margin-bottom: 35px;
}
.dreamshare-inner {
    width: 65.5%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    column-gap: 20px;
}
.dreamshare-inner div {
    width: 30%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    row-gap: 15px;
}
.step1{
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.6) 100%), url(../img/step1.png);
    padding: 219px 25px 21px 25px;
}
.step2 {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.6) 100%), url(../img/step2.png);
    padding: 250px 25px 21px 25px;
}
.step3 {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.6) 100%), url(../img/step3.png);
    padding: 219px 25px 21px 25px;
}
.button-div a {
    text-decoration: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 2px;
    color: #FFFFFF;
    background: #FF4E50;
    border-radius: 40px;
    padding: 5px 14px 3px 12px;
}
.step1-heading, .step2-heading, .step3-heading {
    text-decoration: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 26px;
    color: #FFFFFF;
}
.dreamshare-text {
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 14px;
    line-height: 14px;
    color: #E3E3E3;
}

/* -------------------------------------------------------------------- */

.meet-section {
    width: 100%;
    margin: 89px 0 95px 0;
}
.meet-section_content {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 34px;
}
.p {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 26px;
    line-height: 32px;
    text-align: center;
    color: #444444;
    padding-bottom: 35px;
}
.meet-section_items {
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
    margin-bottom: 36px;
    max-width: 65.5%;
}
.meet-section_item {
    width: 25%;
    text-align: center;
    padding: 10px 20px;
}
.meet-section_img {
    background-size: contain;
    max-width: 52%;
    width: 100%;
    margin: 0 auto;
    position: relative;
    padding-bottom: 60%;
    display: flex;
    justify-content: center;
    background-repeat: no-repeat;
}
.meet-section_img.item-1{
    background-image: url('../img/meet-photo_1.png');
}
.meet-section_img.item-2{
    background-image: url('../img/meet-photo_2.png');
}
.meet-section_img.item-3{
    background-image: url('../img/meet-photo_3.png');
}
.meet-section_img.item-4{
    background-image: url('../img/meet-photo_4.png');
}
.meet-section_item img:last-child {
    display: block;
    position: absolute;
    max-width: 25.5%;
    width: 100%;
    bottom: 14%;
    right: 1%;
}
.meet-section_item h5 {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #444444;
    padding-bottom: 12px;
}
.meet-section_item p {
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 14px;
    line-height: 14px;
    color: #666666;
}
.meet-section_more {
    background: #FFFFFF;
    border: 2px solid #FF4E50;
    border-radius: 40px;
    color: #FF4E50;
    padding: 12px 22px 11px;
    transition: .4s ease-out;
    cursor: pointer;
}
.meet-section_more:hover {
    color: #fff;
    background: #FF4E50;
}

/* -------------------------------------------------------------------- */

.holiday_activitis {
    /* padding-top: 89px; */
    width: 100%;
}
.holiday_activitis_heading {
    text-align: center;
    margin-bottom: 35px;
}
.holiday_activitis-cards {
    max-width: 65.5%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.holiday_activitis-cards div {
    display: flex;
    justify-content: center;
    column-gap: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 4px;
}
.cards-row1 div {
    width: 30%;  
}
.sports {
    background-image: linear-gradient(0deg, rgba(0, 0, 0 ,0.2), rgba(0, 0, 0 ,0.2)), url(../img/spotrs_and_activis.png) ;
    padding: 142px 43px 142px 43px;
}
.wellness {
    background-image: linear-gradient(0deg, rgba(0, 0, 0 ,0.2), rgba(0, 0, 0 ,0.2)), url(../img/wellness_and_health.png);
    padding: 142px 28px 142px 28px;
}

.extreme {
    background-image: linear-gradient(0deg, rgba(0, 0, 0 ,0.2), rgba(0, 0, 0 ,0.2)), url(../img/extreme_sports.png);
    padding: 128px 54px 128px 54px;
}

.games {
    width: 30%;
    background-image: linear-gradient(0deg, rgba(0, 0, 0 ,0.2), rgba(0, 0, 0 ,0.2)), url(../img/Games.png);
    padding: 142px 110px 142px 110px;
}
.culture {
    width: 62%;
    background-image: linear-gradient(0deg, rgba(0, 0, 0 ,0.2), rgba(0, 0, 0 ,0.2)), url(../img/culture_and_education.png);
    padding: 142px 166px 142px 166px;
}
.enjoyment {
    width: 62%;
    background-image: linear-gradient(0deg, rgba(0, 0, 0 ,0.2), rgba(0, 0, 0 ,0.2)), url(../img/enjoment_and_relaxation.png);
    padding: 142px 166px 142px 166px;
}
.travelling {
    width: 30%;
    background-image: linear-gradient(0deg, rgba(0, 0, 0 ,0.2), rgba(0, 0, 0 ,0.2)), url(../img/travelling.png);
    padding: 142px 110px 142px 110px;
}
.holiday_activitis div a {
    text-decoration: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #FFFFFF; 
}

/* -------------------------------------------------------------------- */
.create_your_holiday {
    padding: 95px 0 100px 0;
    border-bottom: 2px solid #FF4E50;
}
.create_your_holiday-inner {
    width: 33.5%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.create_your_holiday-heading {
    margin-bottom: 43px;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 26px;
    line-height: 32px;
    color: #444444;
}
.create_your_holiday-text {
    margin-bottom: 25px;
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 18px;
    line-height: 14px;
    color: #666666;
}
.create_your_holiday-inner .holiday-button {
    margin-left: 10px;
}
.holiday-text {
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: #999999;
    background: #FFFFFF;
    border: 1px solid #D4D4D4;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.073313);
    border-radius: 3px;
    padding: 14px 158px 10px 14px;
}
.holiday-button {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    background: #FF4E50;
    border-radius: 40px;
    padding: 12px 25px 12px 30px;
    border: none;
}

/* - ==================== - END MAIN Styles - ==================== - */

/* - ==================== - FOOTER Styles - ==================== - */
footer {
    display: flex;
    padding: 36px 0;
    position: relative;
}
.div-img {
    position: absolute;
    top: 50%;
    left: 54px;
}
.footer-section {
    
    width: 65.5%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
}
.footer-section-inner {
    display: flex;
    justify-content: space-evenly;
    flex: 1;
}
.div-dreamshare a {
    text-decoration: none;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #FF4E50;
}
.footer-section-inner h4 {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #444444;
    margin-bottom: 11px;
}
.footer-section-inner ul li {
    list-style: none;
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 14px;
    line-height: 26px;
    color: #999999;
    margin-bottom: 5px;
}
.directed_by {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    
}
.directed_by p {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;
    color: #CCCCCC;
    margin-bottom: 7px;
}


/* - ==================== - END FOOTER Styles - ==================== - */



/* - ==================== - Tablet Styles - ==================== - */
/* -------------------------------------------------------------------- */
@media screen and ( max-width: 1400px ) {
    .meet-section_items {
        max-width: 78%;
    }
}
@media screen and ( max-width: 1023px ) {
    header  {
        max-width: 87.1%;
    }
    .intro-section {
        background-position: center center;
    }
    .meet-section {
        margin: 94px 0;
    }
    .meet-section_items {
        flex-wrap: wrap;
        margin-bottom: 30px;
        max-width: 64%;
        margin-bottom: 0;
    }
    .meet-section_item {
        width: calc(50% - 20px);
    }
    .dreamshare-inner {
        width: 100%;
        /* padding: 0 10px;  */
    }
    .holiday_activitis-cards {
        max-width: 100%;
    }
    .create_your_holiday-inner {
        width: 52%;
    }
    .div-img {
        display: none;
    }
    .footer-section {
        width: 100%;
    }
    .partners ul li {
        display: none;
    }
}
@media screen and (min-width: 601px) {
    .intro-section_content .main_logo {
        display: none;
    }
}
@media screen and (max-width: 600px) {
    header  {
        justify-content: center;
        padding: 20px 0;
    }
    header .main_logo {
        display: none;
    }
    .intro-section_content .main_logo {
        margin-bottom: 26px;
    }
    .intro-section .intro-section_content h1 {
        font-size: 30px;
        line-height: 37px;
        padding-bottom: 6px;
    }
    .intro-section .intro-section_content h4 {
        font-size: 18px;
        padding-bottom: 15px;
    }
    .meet-section {
        margin: 35px 0;
    }
    .meet-section_item {
        width: 100%;
    }
    .meet-section_heading {
        padding: 0 20px 14px;
        display: flex;
        flex-wrap: wrap;
        width: 50%
    }
    .dreamshare {
        padding-top: 27px;
    }
    .dreamshare-heading {
        margin-bottom: 15px;
    }
    .dreamshare-inner {
       
       flex-wrap: wrap;
       row-gap: 10px;
       
    }
    .dreamshare-inner div {
        width: 93.8%;
        background-position: center center;
    }
    .holiday_activitis_heading {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 40%;
        margin: auto;
    }
    .holiday_activitis-cards {
        padding-top: 35px;
    }
    .holiday_activitis-cards div {
        width: 93.8%;
        flex-wrap: wrap;
        row-gap: 10px;
        margin: 0 auto;
    }
    .dreamshare-inner .button-div {
        width: 72px;
        height: 20px;
    }
    .sports, .wellness {
        padding: 142px 157px;
        text-align: center;
        background-position: center center;
    }
    .culture, .enjoyment {
        padding: 142px 120px;
        background-position: center center;
    }
    .create_your_holiday {
        padding: 35px 0 40px 0;
    }
    .create_your_holiday-heading {
        margin-bottom: 9px;
        text-align: center;
    }
    .create_your_holiday-text {
        margin-bottom: 15px;
    }
    .holiday-text {
        padding: 14px 139px 10px 15px;
    }
    .create_your_holiday-inner .holiday-button {
        margin-left: 0;
    }
    .holiday-button {
        margin-top: 10px;
        width: 315px;
    }
    footer {
        padding: 19px 0 22px 0;
    }
    .footer-section {
        flex-direction: column;
        padding: 0;
        align-items: center;
        row-gap: 13px;
        width: 87.5%;
        margin: auto;
    }
    .footer-section-inner {
        flex-direction: column;
    }
    .company {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .company h4 {
        text-align: center;
        margin: 1px;
    }
    .company ul {
        display: flex;
        flex-wrap: wrap;
        column-gap: 20px;
        width: 60%;
        justify-content: space-evenly;
    }
    .company ul li {
        margin-bottom: 0;
    }
    .partners h4 {
        text-align: center;
        margin: 6px 0 14px 0;
    }
    .directed_by {
        align-items: center;   
    }
    .directed_by p {
        margin-bottom: 7px;
    }
}


